@font-face {
  font-family: Montserrat-Regular;
  src: url(./fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(./fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(./fonts/Montserrat-SemiBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: Montserrat-SemiBold;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome */
*::-webkit-scrollbar {
  display: none;  
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  outline: none;
  border: none;
  font-family: Montserrat-Regular;
  border-radius: .3rem;
}

button, svg, li, a {
  cursor: pointer;
}

ul {
  list-style: none;
}